$dInputHeight: 1.5em;
$dInputVPadding: 0.25em;
$dInputHPadding: 0.5em;

@mixin input {
	height: $dInputHeight;
	box-sizing: border-box;
	color: white;
	border-radius: 0.25em;
	font-size: inherit;
	padding: $dInputVPadding $dInputHPadding;

	border: none;
	background: #556;

	&:hover { background: #667; }
	&:active { background: #445; }

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}