@import "../../misc/theme.scss";

.Timeline {
	position: relative;
	padding: 10px 0;

	&__now {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 1px;
		background: rgba(0, 0, 0, 0.5);
	}

	&__event {
	}
}
