@import "../../misc/theme.scss";

.Timeline {
	position: relative;

	&__now {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 1px;
		background: rgba(0, 0, 0, 0.25);
	}

	&__line {
		position: relative;
		height: 1em;

		&__event {
			position: absolute;
			top: 0;
			height: 1em;
			border-radius: 0.5em;
			box-sizing: border-box;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&__text {
				position: absolute;
				top: 50%;
				left: 0.5em;
				font-size: 0.8em;
				transform: translateY(-50%);
			}
		}
	}
}
