- const isDev = htmlWebpackPlugin.options.templateParameters.isDev;

head
	link(rel="shortcut icon" type="image/png" href="assets/favicon.png")
	script(src="https://kit.fontawesome.com/c4812aba45.js" crossorigin="anonymous")
body
	if (environment === "development")
