@import "../../misc/theme.scss";

.ToolbarGroup {
	position: relative;
	flex: 0 0 auto;
	margin-right: 16px;
	padding-right: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&::after {
		content: "";
		position: absolute;
		right: -0.5px;
		width: 0;
		top: 8px;
		bottom: 4px;
		border-right: 1px solid #334;
	}

	&__header,
	&__content {
		flex: 0 0 auto;
	}

	&__header {
		color: #999;
		margin-bottom: 8px;
		font-size: 12px;
		height: 15px;
	}

	&__content {
		height: 30px;
		display: flex;
		align-items: center;

		& > * {
			flex: 0 0 auto;
			margin: 0 2px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
