@import "misc/theme.scss";
@import "misc/fontawesome.css";

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

button,
select,
input {
	@include input;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button {
	cursor: pointer;
	min-width: $dInputHeight;
	padding: 0 0.3em;
	display: flex;
	align-items: center;
	justify-content: center;
}
