@import "../../misc/theme.scss";

$RelDatePickerClassName: RelDatePicker;

.#{$RelDatePickerClassName} {
	@include input;
	display: flex;
	align-items: center;
	padding: 0;
	cursor: text;

	&__input {
		flex: 0 1 0;
		background: transparent;
		outline: none;
		padding: $dInputVPadding 0;

		&:first-child {
			padding-left: $dInputHPadding;
		}
	}

	&__label {
		padding-right: 8px;
		cursor: text;

		&:last-child {
			padding-right: $dInputHPadding;
		}
	}
}
