@import "../../misc/theme.scss";

.App {
	font-family: sans-serif;
	background-color: #EEE;

	display: grid;
	grid-template-areas:
		"toolbar"
		"content"
		"lower";
	grid-template-rows: auto 1fr auto;
	grid-template-columns: auto;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;

	&--playing {
		background: transparent;
	}

	&__sidebar,
	&__toolbar {
		padding: 10px;
		z-index: 1;
	}

	&__sidebar {
		grid-area: content;
		width: 24px;

		&__button {
			margin: 4px 0;
		}
	}

	&__toolbar {
		grid-area: toolbar;
	}

	&__timeline {
		grid-area: content;
		transition: font-size 0.3s;
		z-index: 0;
	}

	&__lower {
		grid-area: lower;

		&__calendar {
			display: flex;
			flex-direction: column;

			&__week {
				flex: 1 1 0;
				display: flex;

				&__day {
					flex: 1 1 0;
					position: relative;
					white-space: normal;
					background: #CCC;
					padding: 4px;
					border: 1px #CCC;
					border-style: solid none none solid;

					&--inCurrentMonth {
						background: white;
					}

					&--currentDay {
						background: yellow;
					}
				}
			}
		}
	}
}
