@import "../../misc/theme.scss";

.App {
	font-family: sans-serif;

	display: grid;
	grid-template-areas:
		"toolbar"
		"content";
	grid-template-rows: auto 1fr;
	grid-template-columns: auto;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;

	&--playing {
		background: transparent;
	}

	&__sidebar,
	&__toolbar {
		padding: 10px;
		z-index: 1;
	}

	&__sidebar {
		grid-area: content;

		&__button {
			margin: 4px 0;
		}
	}

	&__toolbar {
		grid-area: toolbar;
		display: flex;
		font-size: 16px;

		&__skip {
			margin-left: 10px;
			display: flex;
			align-items: center;

			&__input,
			&__button {
				flex: 0 0 auto;
				margin: 0 2px;
			}
		}

		&__button {
			flex: 0 0 auto;
			margin: 0 2px;

			&:first-child {
				margin-left: 0;
			}
		}

		&__divider {
			flex: 0 0 auto;
			width: 1px;
			background: #999;
			margin: 0 10px;
		}
	}

	&__timeline {
		grid-area: content;
		transition: font-size 0.3s;
		z-index: 0;
	}
}
